body, html {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

img {
  width: 5em;
  height: 5em;
}

/* ~~~~~~~~ Game Section ~~~~~~~~ */
.box {
  width: 2.5em;
  height: 2.5em;
  box-shadow: 0 0 0 0.01em #C0C0C0;
  border: 0.01em solid #C0C0C0;
  cursor: pointer;
  font-size: 3.8em;
}

.box-img{
  margin: 0.24em;
  width: 2em;
  height: 2em;
}

.change-img {
  height: 1.2em;
  width: 1.2em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.header-section {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 2.5em;
}

/* ~~~~~~ Player Section ~~~~~~ */
#harry-potter {
background: linear-gradient(#EEBA30, #D3A625, #AE0001, #740001, #C0C0C0, #000000) no-repeat center;
}

#voldermont {
  background: linear-gradient(#2A623D, #1A472A, #AAAAAA, #5D5D5D, #000000) no-repeat center;
}

.win-count {
display: flex;
justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 100%;
  font-size: 2em;
  color: #ffffff;
}